/sys/.vs/
/sys/out/
/sys/tmp/
/exe/.vs/
/exe/x64/
/exe/Release/
/exe/Debug/
/exe/packages/
/hook/.vs/
/hook/x64/
/hook/Release/
/hook/Debug/
/inject/.vs/
/inject/x64/
/inject/Release/
/inject/Debug/
/dump/.vs/
/dump/x64/
/dump/Release/
/dump/Debug/